.wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(70px, auto);
}

#header {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
}

#sideBar {
    grid-column: 1;
    grid-row: 1 / 13;
}

#searchBarDiv {
    grid-column: 2 / 11;
    grid-row: 2 / 4;
}

#calender {
    grid-column: 2 / 11;
    grid-row: 4 / 10;
}

#buttonBar {
    grid-column: 2 / 11;
    grid-row: 10 / 13;
}
