body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color: #676a81;
	background: #201f1d;
    max-width:1920px;
    margin:0 auto;
    padding: 0;
    width: 100%;
	overflow-x:hidden;
}

/*-header-------------------*/
#header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

#homeTitle{
    background-color: #201f1d;
}

.brandlogo{
    background-color: #201f1d;
}

.header nav{
    width: 80px;
}

.nav-wrapper {
    background-color: #201f1d;
}

.nav-wrapper li {
    -webkit-transition: background 0.3s ease; 
    -moz-transition: background 0.3s ease; 
    -ms-transition: background 0.3s ease; 
    -o-transition: background 0.3s ease; 
    transition: background 0.3s ease;
}

.nav-wrapper li:hover{
    background-color: #6a1b9a;
}
        
/*button bar--------------*/
#buttonBar{
    display: flex;
    flex-wrap: wrap;
    background-color: #252423;
    margin: 0 5px;
}

#buttonBar div{
    width: 25%;
    -webkit-transition:background 0.5s linear; 
    -moz-transition:background 0.5s linear; 
    -ms-transition:background 0.5s linear; 
    -o-transition:background 0.5s linear; 
    transition:background 0.5s linear;
    -webkit-transition:color 0.5s ease; 
    -moz-transition:color 0.5s ease; 
    -ms-transition:color 0.5s ease; 
    -o-transition:color 0.5s ease; 
    transition:color 0.5s ease;
}

#buttonBar a{
    display:flex;
    align-items:center;
    text-transform: capitalize;
    justify-content:center;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: #676a81;
}

#buttonBar div:hover{
    background-color: #6a1b9a ;
    color: #ffffff;
}

#buttonBar .btnicon{
    width: 24px;
    height: 24px;
    transition: .5s ;
}

#buttonBar div:hover .btnicon{
    filter: brightness(230%);
    transition: .5s ;
}
#buttonBar div:hover a{
    filter: brightness(230%);
    transition: .5s ;
}

/*side bar------------*/
#sideBar{
    background-color:#201f1d;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.742);
    position: fixed;
    top: 50px;
    width: 8vw;
    height: 100%;
}
#sideBar div{
    margin: 10px 0;
}

.sideLink{
    background-color: #201f1d;
    height: 50px;
    padding: 5px;
    color: #fff;
    display:flex;
    align-items:center;
    text-transform: capitalize;
    justify-content:center;
    flex-direction: column;
    margin: 30px 0;
}

#settingBtn{
    position: fixed;
    bottom: 0px;
    left: 28px;
}

/*search Bar-------------*/
#searchBarDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
}

#searchBarDiv p{
    font-size: large;
    font-weight: 400;
    color: #ffffffe6;
}

.search{
    background-color: #252423;
    text-align: center;
    height: 100%;
    width: 33%;
    padding: 0 20px;
}

.shortSearchBar{
    color: #676a81;
    width: 80%;
}

::placeholder{
    color: #7d809c;
    text-align: center;
}

/*----calendar-----*/
#calendar{
    background-color:#201f1d;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarContent{
    background-color:#252423;
    margin: 0 5px;
    display: grid;
    grid-template-columns: 20% 58% 20%;
    height: 100%;
}

#today{
    grid-column: 1;
    width: 30%;
}

/* calendarContent start */

#mainCalendar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
#monthDisplay{grid-area: 1 / 1 / 3 / 1;}
#backButton{grid-area: 1 / 6 / 2 / 7;}
#nextButton{grid-area: 1 / 7 / 2 / 8;}

#sunday { grid-area: 2 / 1 / 3 / 2; }
#monday { grid-area: 2 / 2 / 3 / 3; }
#tuesday { grid-area: 2 / 3 / 3 / 4; }
#wednesday { grid-area: 2 / 4 / 3 / 5; }
#thursday { grid-area: 2 / 5 / 3 / 6; }
#friday { grid-area: 2 / 6 / 3 / 7; }
#saturday { grid-area: 2 / 7 / 3 / 8; }
    
#month{
    width: 30%;
}

#mainCalendar button {
    width: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #676a81;
    background-color: #201f1d;
}

.day {
    grid-row: 3;
    width: 50px;
    padding: 10px;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background-color: #e8faed;
}
  
.day + #currentDay {
    background-color:#e8f4fa;
  }

.event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
.padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
}

#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}
 
#eventTitleInput.error {
    border: 2px solid red;
}
  
#cancelButton, #deleteButton {
    background-color: #d36c6c;
}

#saveButton, #closeButton {
    background-color: #92a1d1;
}

#eventText {
    font-size: 14px;
}
  
#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
}
  
  /* calendarContent end */

#month{
    grid-column: 3;
    
}

/*logInBox---------------*/
#logInBox{
    width: 360px;
    margin: auto;
    z-index: 10;
}

.form {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #252423;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #464340;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #252423;
    text-decoration: none;
}

.form .signupFrom {
    display: none;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.hidden {
    display: none !important;
}

#logInBox.loginError{
    animation-name: frames_error;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
@keyframes frames_error{
    0%{
        top: 0;
        border:solid 5px rgba(255, 0, 0, 0);
    }
    25%{
        bottom: 50px;
        border:solid 5px rgb(255, 92, 92);
    }
    50%{
        top: 50px;
        border:solid 5px rgb(255, 92, 92);
    }
    75%{
        bottom: 50px;
        border:solid 5px rgb(255, 92, 92);
    }
    100%{
        top:0;
        border:solid 5px rgb(255, 92, 92);
    }
}

#logInBox.signupSuccess{
    animation-name: frames_success;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes frames_success{
    0%{
        top: 0;
        border:solid 5px rgba(0, 255, 0, 0);
    }
    25%{
        bottom: 50px;
        border:solid 5px rgb(125, 255, 92);
    }
    50%{
        top: 50px;
        border:solid 5px rgb(125, 255, 92);
    }
    75%{
        bottom: 50px;
        border:solid 5px rgb(125, 255, 92);
    }
    100%{
        top:0;
        border:solid 5px rgb(125, 255, 92);
    }
}

.ErrorMessage{
    color: rgb(255, 92, 92);
}