body{
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color: #676a81;
	background: #201f1d;
    max-width:1920px;
    margin:0 auto;
    padding: 0;
    width: 100%;
	overflow-x:hidden;
}

/*-header-------------------*/
#header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

#homeTitle{
    background-color: #201f1d;
}

.brandlogo{
    background-color: #201f1d;
}

.header nav{
    width: 80px;
}

.nav-wrapper {
    background-color: #201f1d;
}

.nav-wrapper li {
    -webkit-transition: background 0.3s ease; 
    -moz-transition: background 0.3s ease; 
    -ms-transition: background 0.3s ease; 
    -o-transition: background 0.3s ease; 
    transition: background 0.3s ease;
}

.nav-wrapper li:hover{
    background-color: #6a1b9a;
}

#header button{
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0 15px;
}
        
/*button bar--------------*/
#buttonBar{
    display: flex;
    flex-wrap: wrap;
    background-color: #252423;
    margin: 0 5px;
}

#buttonBar div{
    width: 25%;
    -webkit-transition:background 0.5s linear; 
    -moz-transition:background 0.5s linear; 
    -ms-transition:background 0.5s linear; 
    -o-transition:background 0.5s linear; 
    transition:background 0.5s linear;
    -webkit-transition:color 0.5s ease; 
    -moz-transition:color 0.5s ease; 
    -ms-transition:color 0.5s ease; 
    -o-transition:color 0.5s ease; 
    transition:color 0.5s ease;
}

#buttonBar a{
    display:flex;
    align-items:center;
    text-transform: capitalize;
    justify-content:center;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    color: #676a81;
}

#buttonBar div:hover{
    background-color: #6a1b9a ;
    color: #ffffff;
}

#buttonBar .btnicon{
    width: 24px;
    height: 24px;
    transition: .5s ;
}

#buttonBar div:hover .btnicon{
    filter: brightness(230%);
    transition: .5s ;
}
#buttonBar div:hover a{
    filter: brightness(230%);
    transition: .5s ;
}

/*side bar------------*/
#sideBar{
    background-color:#201f1d;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.742);
    position: fixed;
    top: 50px;
    width: 8vw;
    height: 100%;
}
#sideBar div{
    margin: 10px 0;
    width: 100%;
}
.sideLink{
    background-color: #201f1d;
    height: 50px;
    padding: 10px;
    box-sizing:content-box;
    color: #fff;
    display:flex;
    align-items:center;
    text-transform: capitalize;
    justify-content:center;
    flex-direction: column;
    margin: 30px 0px;

}

.sideBarIcon{
    width: 100%;
}

.sideBarIcon :hover{
    -webkit-transition:background 0.2s linear; 
    -moz-transition:background 0.2s linear; 
    -ms-transition:background 0.2s linear; 
    -o-transition:background 0.2s linear; 
    transition:background 0.2s linear;
    background-color: #6a1b9a;
}


/*search Bar-------------*/
#searchBarDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
}

#searchBarDiv p{
    font-size: large;
    font-weight: 400;
    color: #ffffffe6;
}

.search{
    background-color: #252423;
    text-align: center;
    height: 100%;
    width: 33%;
    padding: 0 20px;
}

.shortSearchBar{
    color: #676a81;
    width: 80%;
}

::placeholder{
    color: #7d809c;
    text-align: center;
}

/*----calendar-----*/
#calendarBar{
    background-color:#201f1d;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    width: 100%;
}
.calendarContent{
    background-color:#252423;
    margin: 0 5px;
}
#today{
    grid-column: 1;
}
#mainCalendar {
    grid-column: 2;
}
#month{
    grid-column: 3;
}
